*, *::before, *::after {
    box-sizing: border-box;
}
body {
  background-color: #f4efe6;
}
.container {
  position: absolute;
  margin: 0 auto;
  padding: 30px 60px;
  left: 50%;
  transform: translateX(-50%);
  word-spacing: 2px;
}
h1, h2 {
  font-family: Cambria;
  line-height: 1.2;
}
h1 {
  font-size: 40px;
  font-weight: bold;
  margin: 0;
  text-shadow: 1px 1px 2px grey;
}
h2 {
  font-size: 20px;
  font-style: italic;
  font-weight: lighter;
  line-height: 1;
  margin-bottom: 30px;
}
p {
  font-family: 'Libre Baskerville', serif;
  font-size: 16px;
  line-height: 1.7;
  margin: 30px 0;
}
