*, *::before, *::after {
    box-sizing: border-box;
}
.container {
  position: absolute;
  /* max-width: 60%; */
  margin: 0 auto;
  padding: 60px;
  /* justify-content: center; */
  left: 50%;
  transform: translateX(-50%);
}
h1, h2 {
  font-family: Cambria;
}
h1 {
  font-size: 40px;
  font-weight: bold;
  margin: 0;
}
h2 {
  font-size: 20px;
  font-style: italic;
  font-weight: lighter;
  line-height: 1;
  margin-bottom: 30px;
}
p {
  font-family: 'Libre Baskerville', serif;
  font-size: 16px;
  line-height: 1.5;
  margin: 20px 0;
}
